.authContainer {
  display: flex;
  height: 100vh;
  flex-direction: row; /* Default direction */

  @media (max-width: 768px) {
    flex-direction: column; /* Atur ulang ke kolom untuk mobile */
    height: auto;
  }

  .leftSection,
  .rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    @media (max-width: 768px) {
      flex: none;
      padding: 10px;
      width: 100%; /* Pastikan elemen memenuhi lebar */
    }

    h1, h2 {
      margin: 0;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;

      @media (max-width: 768px) {
        font-size: 1.5rem; /* Perkecil font untuk mobile */
      }
    }
  }

  .leftSection {
    background: linear-gradient(0deg, #363f72, #6677d8, #3e4883);
    color: white;
    text-align: center;

    h1 {
      margin-bottom: 20px;
    }

    img {
      margin-top: 20px;
      cursor: pointer;
      max-width: 80%; /* Sesuaikan ukuran logo */
      height: auto;
    }
  }

  .rightSection {
    h2 {
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%; /* Ubah ke 100% untuk mobile */
      max-width: 350px; /* Tetap gunakan batas maksimum */
      gap: 15px;

      input {
        padding: 15px;
        border: 1px solid #a48765;
        border-radius: 25px;
        font-size: 14px;

        @media (max-width: 768px) {
          font-size: 12px; /* Perkecil font untuk input */
        }
      }

      button {
        background-color: #4e5ba6;
        color: white;
        padding: 15px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

        @media (max-width: 768px) {
          font-size: 16px; /* Perkecil font untuk mobile */
        }
      }
    }

    p {
      margin-top: 20px;
      text-align: center;

      span {
        color: #4e5ba6;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}