.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  position: relative;

  .logo {
    width: 50px;
  }

  .menu {
    display: flex;
    gap: 2rem;
    font-size: 1rem;

    a {
      text-decoration: none;
      color: #333;
      font-family: "Montserrat", sans-serif;
    }

    /* Default: sembunyikan menu di mobile */
    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%; /* Tampilkan menu di bawah header */
      right: 0;
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1rem 2rem;
      z-index: 1000;

      &.menuOpen {
        display: flex; /* Tampilkan menu saat hamburger di-klik */
      }
    }
  }

  .hamburger {
    display: none; /* Default: tidak terlihat di desktop */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    div {
      width: 25px;
      height: 3px;
      background-color: #333;
    }

    @media (max-width: 768px) {
      display: flex; /* Tampilkan di mobile */
    }
  }
}
